.wrapper {
  display: grid;
  grid-template-columns: 1fr min(72ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

.wrapper * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

section {
  padding: 2rem 5vw;
}

.container {
  max-width: 65ch;
  margin: 0 auto;
}

.hero {
  background-color: #CEE1DB;
}

h1,
h2 {
  text-wrap: pretty;
  font-size: 30px;
  line-height: 1.125;
  margin-bottom: 1rem;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #f5f1f1;
  width: auto;
  font-weight: 700;
  border 1px solid #e5e0e0;
  margin-bottom: 1rem;
}

.section-description {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.875;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
}

.tagline {
  padding-bottom: 1rem;
}

ul {
  list-decoration: none;
}
